<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>快捷控制</title>
		<script src="../../static/vue.min.js"></script>
		<link rel="stylesheet" href="../../static/element/element.css">
		<script src="../../static/element/element.js"></script>

		<link rel="stylesheet" href="../css/commController.css">
		<script src="../../nodeScript/frame/commController.js"></script>
	</head>
	<body style="user-select: none;">
		<div id="app">
			<div id="main" v-loading="load" element-loading-text="等待旁加载系统连接. . ."
				element-loading-spinner="el-icon-loading">
				<el-menu :default-active="selectMenu" class="el-menu-demo" mode="horizontal" @select="menuSelect">
					<el-menu-item index="1">玩家控制</el-menu-item>
					<el-menu-item index="2">快捷操作</el-menu-item>
				</el-menu>
				<!-- 
	 玩家控制模块
-->
				<!-- playerCommand -->
				<div id="playerCommadn" class="box">
					<!-- vue-for 玩家列表 -->
					<el-row :gutter="20">
						<el-col :span="20">
							<div class="playerlist">
								<span v-for="name in player" v-text="name.name" class="name"
									@click="playerSelect=name.name"></span>
							</div>
						</el-col>
						<el-col :span="4">
							<div class="right">
								<span>最后刷新：</span>
								<span class="time">side服务离线</span>
								<div>选中玩家：</div>
								<el-input placeholder="请选择玩家" v-model="playerSelect" disabled></el-input>
								<el-button class="rebutt" @click="getAllPlayer()">刷新玩家列表</el-button>
							</div>
						</el-col>
					</el-row>
					<el-divider></el-divider>
					<table>
						<tr>
							<td>药水效果:</td>
							<td>
								<el-select v-model="effectOpthin" placeholder="请选择">
									<el-option v-for="item in effect" :key="item.value" :label="item.name"
										:value="item.value">
									</el-option>
								</el-select>
								<span>时间:</span>
								<el-input-number v-model="effectTime" :min="1" :max="100000000" label="持续时间">
								</el-input-number>
								<span>等级:</span>
								<el-input-number v-model="effectLeve" :min="1" :max="255" label="药水等级">
								</el-input-number>
							</td>
							<td>
								<el-button type="primary" @click="playerEffectExecute()">执行</el-button>
							</td>
						</tr>
						<tr>
							<td>快捷指令：</td>
							<td>
								<el-select v-model="playerOption" placeholder="请选择">
									<el-option v-for="item in playerOptions" :key="item.value" :label="item.label"
										:value="item.value">
									</el-option>
								</el-select>
								<span>
									{{ playerPlace }}
								</span>
							</td>
							<td>
								<el-button type="primary" @click="playerCmdExecute()">执行</el-button>
							</td>
						</tr>
						<tr>
							<td>分数操作:</td>
							<td>
								<el-select v-model="scoreOption" placeholder="操作">
									<el-option v-for="item in scoreOptions" :key="item.value" :label="item.label"
										:value="item.value">
									</el-option>
								</el-select>
								数量:
								<el-input-number v-model="score" :min="1" :max="100000000" label="货币数量">
								</el-input-number>
								<el-input placeholder="记分板名称" v-model="scoreName" class="moneyName"></el-input>
							</td>
							<td>
								<el-button type="primary" @click="scoreExecute()">执行</el-button>
							</td>
						</tr>
					</table>
				</div>
				<!-- 
	 快捷操作模块
-->
				<!-- worldConfig -->
				<div id="worldConfig" class="box">
					<!-- command -->
					<div id="command">
						<table>
							<tr>	
								<td class="text">执行Minecraft命令：</td>
								<td>
									<el-input v-model="input.msgComd" placeholder="命令如：say hi"></el-input>
									<el-select v-model="input.msgCmdMod" placeholder="请选择">
										<el-option v-for="item in input.msgCmdMods" :key="item.value" :label="item.label"
											:value="item.value">
										</el-option>
									</el-select>
								</td>
								<td>
									<el-button type="primary" @click="msgComd()">提交</el-button>
								</td>
							</tr>
							<tr>
								<td class="text">执行控制台命令：</td>
								<td>
									<el-input v-model="input.fbCmd" placeholder="命令内容"></el-input>
								</td>
								<td>
									<el-button type="primary" @click="fbCmd()">提交</el-button>
								</td>
							</tr>
							<tr>
								<td class="text">群聊消息(群服互通)：</td>
								<td>
									<el-input v-model="input.qqMsg" placeholder="消息"></el-input>
								</td>
								<td>
									<el-button type="primary" @click="qqMsg()">提交</el-button>
								</td>
							</tr>
							<tr>
								<td class="text">
									游戏时间：
								</td>
								<td>
									<el-slider v-model="worldConfig.time" max="18000"></el-slider>
								</td>
								<td>
									<el-button type="primary" @click="timeSet()">更新</el-button>
								</td>
							</tr>
							<tr>
								<td><span>天气调整</span></td>
								<td>
									<el-select v-model="worldConfig.weather" placeholder="请选择">
										<el-option v-for="item in worldConfig.weathers" :key="item.value" :label="item.label"
											:value="item.value">
										</el-option>
									</el-select>
									<el-button type="primary" @click="weatherSet()">更新</el-button>
								</td>
								<td>
									<span>清理掉落</span>
									<el-button type="primary" @click="killItems()">清理</el-button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
