<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>设置</title>
		<script src="../../static/vue.min.js"></script>
		<link rel="stylesheet" href="../../static/element/element.css">
		<script src="../../static/element/element.js"></script>

		<link rel="stylesheet" href="../css/config.css">
		<script src="../../nodeScript/config.js"></script>

	</head>
	<body style="user-select: none;">
		<div id="app">
			<div id="main">
				<!-- 文档主体从此处开始 -->
				<div class="main_titlw">
					<span>设置omega文件路径<span style="color: red"> 必填</span></span>
				</div>
				<div class="main_">
					<div class="form_1">
						<el-input v-model="inputOmegaStorage" placeholder="设置omega_storage目录" class="el-input_omgsrc"></el-input>
					</div>
					<div class="form_2">
						<el-button type="primary" class="el-button_but" @click="save()">保存</el-button>
					</div>
				</div>
				<br />
				<div class="main_titlw"><span>设置 OmegaSide 通信地址</span></div>
				<div class="main_">
					<div class="form_1">
						<el-input v-model="inputSidePath" placeholder="127.0.0.1:24011" class="el-input_omgsrc"></el-input>
					</div>
					<div class="form_2">
						<el-button type="primary" class="el-button_but" @click="">保存</el-button>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
