<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>文件管理</title>
		<script src="../../static/vue.min.js"></script>
		<link rel="stylesheet" href="../../static/element/element.css">
		<script src="../../static/element/element.js"></script>

		<link rel="stylesheet" href="../css/OmgController.css">
		<script src="../../nodeScript/frame/OmgController.js"></script>
	</head>
	<body style="user-select: none;">
		<div id="app">
			<div id="main">
				<!-- 文档主体从此处开始 -->
				<div id="search">
					<div>
						<el-input v-model="search" placeholder="输入名称进行筛选" @input.native='searchConfig'></el-input>
					</div>
					<div>
						<el-button plain icon="el-icon-close" @click='searchClear'>清空</el-button>
					</div>
				</div>
				<div id="fileList">
					<!-- 文件列表 -->
					<el-table :data="tableData" height="100%" style="width: 100%;" stripe>
						<el-table-column label="文件" width='500'>
							<template slot-scope="scope">
								<span>{{ scope.row.name }}</span>
								<br />
								<span>{{ scope.row.src }}</span>
							</template>
						</el-table-column>
						<el-table-column label="大小" width='150' prop="size" sortable>
						</el-table-column>
						<el-table-column label="文件类型" width='150' prop="type" sortable
						:filters="[{text: 'schematic', value: 'schematic'}, {text: 'schem', value: 'schem'}, {text: 'bdx', value: 'bdx'}]"
						:filter-method="stateHandler">
						</el-table-column>
						<el-table-column label="操作">
							<template slot-scope="scope">
								 <el-button type="primary" @click="fileInput(scope.row.name,scope.row.src,scope.row.type)" plain>导入</el-button>
								 <el-button type="danger" @click="deleteFile(scope.row.name,scope.row.src)" plain>删除</el-button>
							</template>
						</el-table-column>
					</el-table>
				</div>
				<div id="openDir">
					<el-button type="primary" @click="openDir()">打开文件夹</el-button>
				</div>
				<el-dialog title="文件导入" :visible.sync="fileInputWindow" width="65%">
					<span>文件名:</span>
					<span class="fileName">{{fileSelect.name}}</span>
					<div class="xyz">
						<span>X：</span>
						<el-input-number v-model="fileSelect.x" label="x"></el-input-number>
						<span> Y：</span>
						<el-input-number v-model="fileSelect.y" label="y"></el-input-number>
						<span> Z：</span>
						<el-input-number v-model="fileSelect.z" label="z"></el-input-number>
					</div>
					<el-row id="fileInput">
						<!-- fb导入 -->
						<el-col :span="11">
							<div>使用FastBuilder导入</div>
							<div>
								<div>&nbsp;</div>
								<div>自动导入：</div>
								<el-button type="primary" @click="fbInput">导 入</el-button>
							</div>
						</el-col>
						<!-- 分隔线 -->
						<el-col :span="2">
							 <div class="centerColor"></div>
						</el-col>
						<!-- omega导入 -->
						<el-col :span="11">
							<div>使用Omega导入</div>
							<div>
								<div>导入设置：<span>{{loadSpeed}}</span>方块/秒</div>
								<div>复制导入命令：</div>
								<el-button type="primary" @click="omgInputCopyCmd">复 制</el-button>
							</div>
						</el-col>
					</el-row>
				</el-dialog>
			</div>
		</div>
	</body>
</html>
