#main{
	width: 85%;
	margin: 0 auto;
}

.main_titlw {
	padding-bottom: 1%;
}

.main_ {
	display: flex;
}


/* 输入框 */
.form_1 {
	display: block;
	width: 78%;
}

/* 按钮 */
.form_2 {
	margin-left: 2%;
	display: block;
	width: 20%;
}
