*{
	margin: 0;
	padding: 0;
}

#search{
	height: 60px;
}

#search>:first-child{
	display: inline-block;
	float: left;
	width: 90%;
	margin: 15px 0 5px 10px;
}
#search>:last-child {
	display: inline-block;
	float: right;
	margin: 15px 15px 5px 0;
	width: 7%;
}

.search_name{
	font-size: 1.2em;
	font-weight: bold;
}
.search_path{
	font-size: 0.95em;
	color: darkgray;
}

.table_scope{
	display: inline-block;
}

/* elm弹出标题 */
	.el-dialog__header{
		padding: 10px;
	}
	.el-dialog__title{
		color: darkgray;
	}
	.el-dialog__body{
		padding: 0;
	}
/* elm弹出标题END */
/* jsonEdit */
.jsoneditor-sort,.jsoneditor-transform,.jsoneditor-repair{
	/* 隐藏排序，隐藏筛选，隐藏修复 */
	display: none;
}
.jsonEditSave{
	padding: 0;
	width: 55px;
	height: 30px;
	position:fixed ;
	top: 12px;
	right: 50px;
	left: 1040px;
	color: #409EFF;
	border-color: #67C23A;
	
}
/* jsonEdit-END */