* {
	padding: 0;
	margin: 0;
}

#main {
	display: flex;
	height: calc(100vh);
}

#menu {
	width: 23%;
}

#menu #menu_title {
	margin: 0 auto;
	padding: 15px 0 15px 0;
	color: #3688da;
	text-align: center;
	text-shadow: 1px 1px darkgray;
	font-size: 1.2em;
}

#menu #menu_title #menu_title-ico {
	width: 1.3em;
}

#menu #menu_title span {
	position: relative;
	top: -5px;
}


#frame {
	width: 100%;
	box-shadow: -1px 0 #DCDFE6;
}

#frame #title_br {
	margin: 0;
	margin-top: 5px;
}

#frame iframe {
	width: 100%;
	height: calc(92.5vh);
}

#frame #title {
	font-size: 1.1em;
	height: 28px;
	padding: 1% 0 0.5% 1.5%;
}
