* {
	padding: 0;
	margin: 0;
}

#main {
	display: flex;
	height: calc(100vh);
}

#menu {
	width: 23%;
}

/* 当前选项标题 */
#menu #menu_title {
	margin: 0 auto;
	padding: 15px 0 15px 0;
	color: #3688da;
	text-align: center;
	text-shadow: 1px 1px darkgray;
	font-size: 1.2em;
}

#menu #menu_title #menu_title-ico {
	width: 1.3em;
}

#menu #menu_title span {
	position: relative;
	top: -5px;
}

/* 当前选项标题  END*/

/* 子页 */
#frame {
	width: 100%;
	box-shadow: -1px 0 #DCDFE6;
}

#frame #title_br {
	margin: 0;
	margin-top: 5px;
}

#frame iframe {
	width: 100%;
	height: calc(92.5vh);
}

#frame #title {
	font-size: 1.1em;
	height: 28px;
	padding: 1% 0 0.5% 1.5%;
}

/* 子页  END*/

/* side状态 */
#side {
	margin: 145px 0 0 25px;
	color: darkgray;
	font-size: 1em;
}

#side .side_ {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 6px;
}

/* side状态 END */

/* 关于窗口 */
#info .el-dialog__wrapper .el-dialog .el-dialog__body{
	overflow: hidden;
}
#info .el-dialog__wrapper .el-dialog .el-dialog__body div{
	margin: 15px;
}
#info .el-dialog__wrapper .el-dialog .el-dialog__body .butt{
	float: right;
}
.info_jsonedit{
	color: #0055ff;
}
/* 关于窗口 END */